<div class="login-container login-bg">
  <div class="login-box">
    <div>
      <div class="d-inline-block ml-3"></div>
    </div>
    <div class="container">
      <div class="card col-md-6 mx-auto login-card">
        <div class="card-body">
          <div class="display-center">
            <img class="login-img" [src]="loginImg" />
          </div>

          <h4 class="login-title">Sign In</h4>

          <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
            <div class="form-group mb-0">
              <label class="d-block"
                >s
                <input
                  type="text"
                  class="form-control"
                  formControlName="email"
                  autocomplete="username"
                  [placeholder]="'Email' | translate"
                />
                <span hidden translate>Username</span>
              </label>
              <label class="d-block">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  autocomplete="current-password"
                  [placeholder]="'Password' | translate"
                  required
                />
                <span hidden translate>Password</span>
              </label>
              <label class="d-block">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password2"
                  autocomplete="current-password"
                  [placeholder]="'Repeat password' | translate"
                  required
                />
                <span hidden translate>Confirm Password</span>
              </label>
            </div>

            <div class="w-100 register-label">
              <span class="text-muted text-end" routerLink="/login">You have an account? Log in</span>
            </div>
            <div class="w-100 display-center">
              <button class="btn login-btn mt-2" type="submit">
                <span translate>Register</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
