.info-value {
  display: flex;
  align-items: center;
  margin-right: 5px;
  font-size: 12px;
  div {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }
  p {
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 15px;
  }
}
