@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.header-img {
  width: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
