/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

// Theme customization
@import "theme/theme";

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-bg {
  background: url("/assets/images/public/branding/login-background.svg") no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  padding-top: 4%;
  padding-bottom: 4%;
}

.info-detail {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  div {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
  }
  p {
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 15px;
  }
}

.bg-green {
  background-color: #61b323;
  color: white;
}

.bg-red {
  background-color: #b33838;
  color: white;
}

.bg-blue {
  background-color: #13a3da;
  color: white;
}
